<nav>
    <% if (user){ %>
<p>Welcome Back <%= user.first %> ! Explore real stories, Choose wisely.</p>
    <a href="/auth/logout">Logout</a>

    <%} else{ %>
    <a href="/auth/login">Login</a>
    <a href="/auth/sign-up">Sign Up</a>
    <%} %>
    
</nav>