<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/webpages/home.css">
</head>
<body>
    <%- include('../partials/navbar2') %>
    <div class="text">
    <h1>Welcome to UniGuides</h1>
    <p>Read real student experiences or share your own!</p>
    <a href="/majors" class="viewbtn">Browse All Experiences</a>
  </div>

</body>
</html>