body {
background: linear-gradient(240deg, rgba(249, 219, 207, 1) 0%, rgba(210, 208, 238, 1) 100%);
  margin: 0;
 font-family: "Raleway", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.parent {
  display: grid;
  grid-template-columns: 40% 60%;
  height: 650px;
  width: 900px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.div1 {
  background-color: #fffbea;
  border-radius: 0px 20px 20px 0px;
-webkit-border-radius: 0px 20px 20px 0px;
-moz-border-radius: 0px 20px 20px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  color: #454A85;
  font-weight: 300;
  font-size: 17px;
}
a{
  font-weight: 420;
   background: linear-gradient(13deg, rgba(249, 219, 207, 1) 0%, rgba(210, 208, 238, 1) 68%);
    color: #454A85;
  width: 170px;
    height: 50px;
    border-radius: 30px;
    border:none;
    display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 20px;

  outline: 0px solid #F3EAEF;
transition: outline 0.3s ease 0s;
}
a:hover {
  outline: 1.7px solid #454A85;
  transform: scale(1);
}

.img{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: -32px;
}

.img p{
      display: flex;
  flex-direction: column;
  align-items: center;
}


.notmemberyet{
  position: relative;
  top: -15px;
}




.div2 {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 20px 0px 0px 20px;
-webkit-border-radius: 20px 0px 0px 20px;
-moz-border-radius: 20px 0px 0px 20px;

  background-color: rgba(255, 255, 255, 0.5);
}

button{
  font-family: 'Raleway';
  font-weight: 420;
    margin-top: 50px;
    background: #F9DBCF;
    background: linear-gradient(13deg, rgba(249, 219, 207, 1) 0%, rgba(210, 208, 238, 1) 68%);
    color: #454A85;
    width: 230px;
    height: 50px;
    border-radius: 30px;
    border:none;
    font-size: 20px; 
    cursor: pointer;
  outline: 0px solid #F3EAEF;
transition: outline 0.3s ease 0s;
}
button:hover {
  outline: 1.7px solid #454A85;
  transform: scale(1);
}
h1{
    font-size: 50px;
    color: #2d3056;
}
form{
    color:#454A85;
    font-size: 18px;
}
input{
  font-family: 'Raleway';
  font-size: medium;
    text-align: center;
    color:#886dc7;
    border-radius: 30px;
    border: none;
    margin-top: 10px;
    height: 50px;
    width: 230px;
    opacity: 60%;
}

.error{
    font-size: 14px;
}