.container{
    width: 350px;
    height: 120px;
    background-color: #FDFBEA;
    border-radius: 20px;
    margin: 0 auto;
    opacity: 85%;
  transition: transform 0.3s ease;
}
.container:hover {
  transform: translateY(-5px);
}

.majors {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 5px;
}

h2 {
    color: #2D3054;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 30px;
}

.container span {
    padding-left: 10px;
}

.container a {
color: #886DC6;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  padding-bottom: 3px;
  
}

.container a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  background-color: #886DC6;
  width: 0%;
  transition: width 0.3s ease;
}

.container a:hover::after {
  width: 100%;
  animation: heartbeat116 1.5s ease-in-out 0.3s infinite;
}

.find p{
    color: #454A85;
}
.find{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}
    
.find a{
    margin-top: 10px;
    color: #454A85;
    display: flex;
    border-radius: 30px;
    background: linear-gradient(240deg, rgba(249, 219, 207, 1) 0%, rgba(210, 208, 238, 1) 100%);
     width: 90px;
    height: 40px;
     align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 16px;


  outline: 0px solid #F3EAEF;
transition: outline 0.3s ease 0s;
}
.find a:hover {
  outline: 1.7px solid #454A85;
  transform: scale(1);
}
.find{
    position:fixed;
    bottom:56px;
    display: flex;
    width: 100%;
    justify-content: center;
}