.exp{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 52px;
    flex-wrap: wrap; 
    gap: 20px;
}

.expboard{
    flex-direction: column;
    overflow-y: auto; 
     height: 400px;
    background-color: #FBF8EC; 
    border-radius: 20px;
padding: 20px;
box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
opacity: 80%;
width: 600px;
 word-wrap: break-word; 
  overflow-wrap: break-word;
  white-space: normal; 
  transition: transform 0.3s ease;
}
.expboard:hover {
  transform: translateY(-5px);
}

.expboard h4 {
  margin: 5px 0;
  transform: translateY(-70px);
  font-weight: 500;
  color: #454A85;
  text-align: right;
}



.exp h3{
    color: #454A85;
    font-weight: 400;
    background: linear-gradient(240deg, rgba(249, 219, 207, 1) 0%, rgba(210, 208, 238, 1) 100%);;
    border-radius: 30px;
    font-size: 20px;
    max-width: fit-content;
    height: 50px;
    display: flex;
     align-items: center;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
}
h1{
    max-width: 700px;
    margin-left: 10px;
}

.exp p{
    color: #2D3054;
    transform: translateY(-20px);
font-size: large;
}

.exp h6{
  text-align: center;
  font-size: 17px;
  font-weight: 400;
}
.contact {
  display: flex;
  flex-direction: column;
  gap: 1px;
}
 .contacttext{
     color: #454A85 ;
    font-weight: 400;
    background: linear-gradient(240deg, rgba(249, 219, 207, 1) 0%, rgba(210, 208, 238, 1) 100%);;
    border-radius: 30px;
    font-size: 20px;
    height: 50px;
    width: 95%;
    margin: auto;
    display: flex;
     align-items: center;
     text-align: center;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
 }

 .ig{
    color: #454A85;
 }

/* the button only */
.share{
    margin-right: 10px;
    transform: translateY(-113px);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
}
    
.share a{
    color: #454A85;
    display: flex;
    border-radius: 30px;
    background: linear-gradient(240deg, rgba(249, 219, 207, 1) 0%, rgba(210, 208, 238, 1) 100%);
     max-width: max-content;
    height: 40px;
     align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 16px;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 10px;


  outline: 0px solid #F3EAEF;
transition: outline 0.3s ease 0s;
}
.share a:hover {
  outline: 1.7px solid #454A85;
  transform: scale(1);
}